<!-- start custom footer snippets -->

<div style="text-align: center;">
  <a href="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}{{ page.url }}"
    target="_blank">
    <img
      src="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}{{ page.url }}.svg" />
  </a>
</div>

<script data-ad-client="ca-pub-9815439126917243" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- end custom footer snippets -->
