@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.branding {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.branding img {
  width: 50px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.gallery__bg {
  opacity: 0.5;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallery__bg img {
  width: 105%;
  height: 105%;
  object-fit: cover;
  object-position: center center;
  filter: blur(5px);
  position: absolute;
  top: -2.5%;
  left: -2.5%;
  z-index: 2;
}
.gallery__bg img.fade-in {
  z-index: 1;
}
.gallery__bg img.fade-out {
  transition: opacity 400ms;
  opacity: 0;
}
.gallery__search {
  position: relative;
  z-index: 1;
  display: flex;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.gallery__search label {
  background: #333;
  color: white;
  padding: 11px 10px 10px;
}
.gallery__search input {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  padding: 1px 6px 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.gallery__search input:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.gallery__main {
  position: relative;
  z-index: 1;
  margin: 0 75px 0 20px;
  width: 520px;
  max-width: calc(100% - 95px);
}
.gallery__core {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.gallery__core img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transform: translateY(0);
}
.gallery__core img.slide-in {
  top: 100%;
}
.gallery__core img.shift-up {
  transition: transform 400ms;
  transform: translateY(-100%);
}
.gallery__track {
  position: absolute;
  top: 10px;
  right: 0;
  transform: translate(60px, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery__track__item {
  width: 43px;
  height: 43px;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 100%;
  transition: transform 350ms;
}
.gallery__track__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.gallery__track__item:hover {
  transform: scale(1.2);
}
.gallery__track__item.active {
  width: 40px;
  height: 40px;
  border: 3px solid white;
}